* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #272530;
}

body, input, button {
    color: white;
}

input, button {
    font-size: 16px;
}

.head_bar {
    height: 100vh;
}

.button {
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    opacity: 1;
    border: 2px solid white;
    border-radius: 20px;
}


main {
    max-width: 800px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 16px;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: #7e4ccb;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #7e4ccb;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}


.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #7e4ccb;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
}

.search_section > h2 {
    color: #7e4ccb;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: #7e4ccb;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 2px solid #7e4ccb;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf > h2 {
    color: #7e4ccb;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 2px solid #7e4ccb;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;

}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
}

.label {
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #7e4ccb;
    font-weight: 700;
  }
  
  .text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #504f58;
    background: #272530;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
  }
  
  .text-input:focus {
    border: 2px solid #7e4ccb;
  }
  
  .text-input:focus + .label,
  .filled {
    color: white;
    font-size: 14px;
  }
  
  .text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
    color: white;
  }
  .text-input:focus::placeholder {
    opacity: 0.8;
    color: white;
  }

  footer {
    margin-top: 100px;
  }



  /* Button Header Styling */
  a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* Styling Footer */

footer {
    text-align: center;
    padding: 10px;
    background-color: #7e4ccb;
    margin-top: 150px;
}

footer .love {
    color: red;
}

.hidden {
    display: none;
}

.success {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    z-index: 100;
    background-color: green;
    transition: 0.5s;
  }

.alert {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    z-index: 100;
    background-color: red;
    transition: 0.5s;
}